@import "tailwindcss";
@source "../../../frontend-library";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9fafb;
}
